<nav class="navbar navbar-collapse navbar-expand-lg navbar-light bg-light static-top p-3">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="img/logo-verde.png" class="logo"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--<div class="collapse navbar-collapse text-center" id="navbarTogglerDemo02">-->
        

          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarTogglerDemo02">
              <ul class="navbar-nav ml-auto text-center">

                  <li class="nav-item mr-2 mb-1 ml-2">
                      <a class="nav-link btn btn-outline-success " href="/">
                          <i class="fa fa-user"></i>
                          Artur</a>
                  </li>
                  <li class="nav-item mr-2 mb-1 ml-2">
          
                <a class="nav-link btn btn-outline-success " href="#" title="carrito de compras">
                  <i class="fa fa-cart-plus"></i> 
                  </a>
                </li>
                <li class="nav-item">
                <a class="btn btn-primary" href="#">Iniciar sesion</a>
              </li>
            </ul>
        </div>
        </div>
      <!--</div>-->
</nav>